* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

.header {
    width: 100%;
    height: 50px;
    background-color: #30353e;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 100%;
    width: 10%;
    margin-left: 20px;
}

.logo svg {
    width: 100%;
    height: 100%;
}

.buttons {
    width: 110px;
    margin-right: 10px;
    height: 100%;
    display: flex;
    align-items: center;
}

.buttons .share-button {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #30353e;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    line-height: 35px;
    font-size: 17px;
    font-weight: 300;
    cursor: pointer;
}

.buttons .share-button svg {
    width: 20px;
    height: 20px;
}

.buttons .share-button:hover {
    background-color: #fff;
    color: #4d76ba;
}

.main {
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
}

.main .menuDescriptions {
    height: 100%;
    /* width: 250px; */
    width: 0;
    /* width change karni hai */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    transition: all 1s;
}

.main .menuDescriptions .commonMenu {
    width: 90%;
    height: 90%;
}

.main .menuDescriptions .commonMenu .close {
    float: right;
    background-color: #fff;
    text-decoration: none;
    border: none;
    color: rgb(102, 102, 102);
    cursor: pointer;
}

.main .menuDescriptions .commonMenu .close i {
    font-size: 20px;
}

.main .menuDescriptions .commonMenu .menuName {
    color: rgb(102, 102, 102);
    font-size: 32px;
    font-weight: 200;
    line-height: 51.2px;
}

.main .menuDescriptions .settingMenu .inputfield {
    margin-top: 30px;
    width: 100%;
    transition: width 1s;
}

.main .menuDescriptions .settingMenu .inputfield label {
    display: block;
    color: rgb(142, 144, 149);
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
}

.main .menuDescriptions .settingMenu .inputfield select {
    width: 100%;
    height: 30px;
    margin-top: 7px;
}

.main .menuDescriptions .messageMenu .messageContainer {
    width: 100%;
    height: 80%;
    margin-top: 25px;
    border-radius: 5px 5px 0 0;
    border: 1px solid #30353e;;
    border-bottom: none;
}

.main .menuDescriptions .messageMenu .sender {
    width: 100%;
    height: 5%;
    border: 1px solid #30353e;;
    border-radius: 0 0 5px 5px;
}

.main .menuDescriptions .messageMenu .sender .messageInput {
    width: 78%;
    height: 100%;
    margin-left: 5%;
    border: none;
    text-decoration: none;
    outline: none;
    border-radius: 0 0 0 5px;
}

.main .menuDescriptions .messageMenu .sender .sendMessageButton {
    width: 15%;
    height: 100%;
    border-radius: 0 0 5px 0;
    outline: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    background-color: #30353e;;
    color: #fff;
}

.main .menuDescriptions .messageMenu .messageContainer {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x:hidden;
}

.main .menuDescriptions .messageMenu .messageContainer::-webkit-scrollbar {
    width: 10px;
}

.main .menuDescriptions .messageMenu .messageContainer::-webkit-scrollbar-thumb {
    background-color: #a3acbe;;
    border-radius: 5px;
}

.main .menuDescriptions .messageMenu .messageContainer::-webkit-scrollbar-thumb:hover {
    background-color: #8790a1;
}

.main .menuDescriptions .messageMenu .messageContainer .myMessageContainer {
    margin-top: 5px;
    float: right;
    border-radius: 5px 0 5px 5px;
    display: flex;
    justify-content: flex-end;
}

.main .menuDescriptions .messageMenu .messageContainer .myMessage {
    border-radius: 5px 0 5px 5px;
    font-size: 15px;
}

.main .menuDescriptions .messageMenu .messageContainer .myMessage .messageContent {
    background-color: rgb(149, 149, 241);
    max-width: 180px;
    border-radius: 5px 0 5px 5px;
    padding: 7px;
    word-wrap: break-word;
    color: #fff;
    font-size: 14px;
}

.main .menuDescriptions .messageMenu .messageContainer .myMessage .messageSender {
    font-size: 12px;
    float: right;
    color: gray;
}

.main .menuDescriptions .messageMenu .messageContainer .myMessageContainer .messageArrow {
    width: 1px;
    height: 1px;
    border: 7px solid transparent;
    border-left-color: rgb(149, 149, 241);;
}

.main .menuDescriptions .messageMenu .messageContainer .otherMessageContainer {
    margin-top: 5px;
    float: left;
    border-radius: 5px 0 5px 5px;
    display: flex;
}


.main .menuDescriptions .messageMenu .messageContainer .otherMessage {
    float: left;
    border-radius: 5px 0 5px 5px;
    font-size: 15px;
}

.main .menuDescriptions .messageMenu .messageContainer .otherMessage .othermessageContent {
    background-color: rgb(149, 149, 241);
    max-width: 180px;
    border-radius: 0 5px 5px 5px;
    padding: 7px;
    word-wrap: break-word;
    color: #fff;
    font-size: 14px;
}

.main .menuDescriptions .messageMenu .messageContainer .otherMessage .othermessageSender {
    font-size: 12px;
    float: left;
    color: gray;
}

.main .menuDescriptions .messageMenu .messageContainer .otherMessageContainer .messageArrow {
    width: 1px;
    height: 1px;
    border: 7px solid transparent;
    border-right-color: rgb(149, 149, 241);;
}

.main .menuDescriptions .inputOutputMenu .outerfakeDiv {
    width: 100%;
    height: 40%;
    border: 1px solid black;
    margin-top: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.main .menuDescriptions .inputOutputMenu textarea{
    resize: none;
    outline: none;
    text-decoration: none;
    border: none;
    width: 97%;
    height: 98%;
    word-wrap:initial;
    font-size: 16px;
}

.main .menuDescriptions .messageMenu, .inputOutputMenu {
    display: none;
}

.main .menu {
    height: 100%;
    width: 50px;
    background-color: #30353e;
}

.main .menu .menu-option {
    width: 100%;
    height: 50px;
    display: flex;
}

.main .menu .menu-option button {
    width: 100%;
    height: 100%;
    background-color: #30353e;
    /* color: rgba(255, 255, 255, 0.6); */
    cursor: pointer;
    text-decoration: none;
    border: none;
}

.main .menu .menu-option button i {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
}

.main .menu .menu-option button svg {
    height: 20px;
    width: 20px;
    /* color: rgba(255, 255, 255, 0.6); */
}

.main .menu .menu-option #video-open-icon,
#audio-open-icon {
    display: none;
}

.main .menu .menu-option button:hover i {
    color: #fff;
}

.main .menu .menu-option {
    border-bottom: 1px solid rgb(34, 34, 34);
    position: relative;
}

.main .menu .menu-option .tooltip {
    width: max-content;
    padding-left: 10px;
    padding-right: 10px;
    height: 28px;
    position: absolute;
    top: 10px;
    margin-left: 58px;
    z-index: 100;
    background-color: #383838;
    transform: scale(0);
    display: flex;
    align-items: center;
    transition: transform 0.3s;
    transform-origin: left;
}

.main .menu .menu-option .arrow {
    position: absolute;
    top: 18.5px;
    right: -8px;
    border: 5px solid transparent;
    border-right-color: #383838;
    z-index: 100;
    transform: scale(0);
    transition: transform 0.3s;
    transform-origin: right;
}

.main .menu .menu-option .tooltip p {
    color: #fff;
    font-size: 13px;
}

.main .menu .menu-option:hover .tooltip,
.main .menu .menu-option:hover .arrow {
    transform: scale(1);
}

.main .editor {
    width: calc(100% - 300px); 
    height: 100%;
    transition: width 1s;
    border-right: 1px solid #fff;
    font-size: 18px;
    position: relative;
}

.main .editor .notificationsCointainer {
    width: 290px;
    position: absolute;
    z-index: 100;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main .editor .notificationsCointainer .commonNotification {
    width: 95%;
    background-color: #30353e;
    border-radius: 5px;
    margin-bottom: 10px;
    word-wrap: break-word;
    border: 1px solid #fff;
    transition: opacity 5s;
}

.main .editor .notificationsCointainer .commonNotification:first-child{
    margin-top: 10px;
}

.main .editor .notificationsCointainer .commonNotification .closeNotification {
    float: right;
    text-decoration: none;
    outline: none;
    border: none;
    background-color: #30353e;
    border-radius: 0 5px 0 0;
    margin-right: 5px;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
}

.main .editor .notificationsCointainer .commonNotification .notificationText {
    width: 260px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    margin-bottom: 10px;
    color: #fff;
}

.CodeMirror {
    height: 100%;
    font-size: inherit;
}

.main .videotab {
    height: 100%;
    width: 250px;
    background-color: #30353e;;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}

.main .videotab .videoDiv {
    width: 100%;
    height: 200px;
    min-height: 200px;
    /* background-color: pink; */
    border: 1px solid black;
}

.main .videotab .videoDiv video{
    width: 100%;
    height: 100%;
}

.main .videotab::-webkit-scrollbar {
    width: 10px;
}

.main .videotab::-webkit-scrollbar-thumb {
    background-color: #a3acbe;;
    border-radius: 5px;
}

.main .videotab::-webkit-scrollbar-thumb:hover {
    background-color: #8790a1;
}